#primjer {

}

#primjer div {

}

#div-prije, #div-poslije {
	background-color:#8888dd;
	color:#000000;
}

#div-1 {
	background-color:#000000;
	color:#ffffff;
	position: relative;
	
}

#div-1-padding {
	padding:10px;
}

#div-1a {
	background-color:#dd3333;
	color:#fff;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;

}

#div-1b {
	background-color:#33dd33;
	color:#fff;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
}

#div-1c {
	background-color:#3333dd;
	color:#ffffff;
	position: absolute;
	left: 200px;
	top: 0px;
	right: 250px
}

#primjer div p {
	margin:0 .25em;
	padding:.25em 0;
}

#description {
}

pre {
	padding:1em;
	border:1px dashed #aaa;
	background:#fafafa;
}

p {
	margin:0.5em 0;
}

h3 {
	color:#999999;
}